/* Variables */
:root {
    /* https://coolors.co/130902-13203f-334c85-e0e8f5-f0f4fa-f48c54-f59664 */
    --black: #130902;
    --navy: #13203F;
    --cornflower: #334C85;
    --alice-blue: #E0E8F5;
    --ice: #F0F4FA;
    --peach: #F48C54;
    --daisy: #F6A579;
}

/* Navigation Bar */
ul.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: fit-content;
    float: right;
    background-color: var(--navy);
}
  
li.navBar {
    float: left;
}
  
li.navBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}
  
li.navBar a:hover {
    background: linear-gradient(to top, var(--cornflower) 50%, var(--navy) 50%) bottom;
    background-size: 100% 200%;
    transition: .2s ease-in-out;
}

/* Header */
.headerPhoto {
    width: 100%;
    height: 200;
    object-fit: cover;
    position: absolute;
    padding: 0%;
    z-index: -1;
    filter: opacity(80%);
}
.header {
  height: 200px;
  text-align: center;
}

.logo {
  height: 100px;
  width: 100px;
  margin-left: 30px;
  border-radius: 50px;
  float: left;
  background-color: var(--navy);
}

.logoPicture {
  height: 100px;
  width: auto;
  padding-left: 30px;
}

html,body {
    padding:0; margin:0;
}

.pageTitle {
    color: var(--ice);
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    padding-top: 130px;
    font-size: 45px;
    text-shadow: 1px 1px 1px var(--cornflower);
}

h2 {
  color: var(--cornflower);
  font-family: 'Jost', sans-serif;
  font-weight: 800;
  padding: 10px 10vw;
}

p, body {
font-family: 'Montserrat', sans-serif;;
}

.bodyText p {
    padding: 10px 13vw;
}

.peach {
  background-color: var(--peach);
  width: fit-content;
  margin-right: 10vw;
}

.peach a {
  color: white;
}


.peach h2 {
  color: white;
  padding: 10px 10vw;
}

.peach p {
  color: white;
  padding: 10px 3vw 10px 13vw;
}

.cornflower {
  background-color: var(--cornflower);
  width: fit-content;
  margin-left: 8vw;
  color: white;
}


.cornflower h2 {
  color: white;
  padding: 10px 2vw;
}

.cornflower h3 {
  color: white;
  padding: 2px 5px;
}
.cornflower h4 {
  color: white;
  padding: 5px 5px;
}
.cornflower p {
  color: white;
  padding: 10px 13vw 10px 5vw;
}

/* Carousel */
.slider {
  width: 80%;
  text-align: center;
  overflow: hidden;
  padding: 15px 10%;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}
.slides::-webkit-scrollbar-thumb {
  background: var(--peach);
  /* box-shadow: -1px 0px 1px 0px white; */
  /* scrollbar-shadow-color: violet; */
  box-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border-radius: 25px;
}
.slides::-webkit-scrollbar-track {
  background: var(--cornflower);
  border-radius: 25px;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 300px;
  background: var(--ice);
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  padding: 20px 0px;
  background-color: var(--navy);
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color:  var(--peach);
  text-decoration: none;
}

.homeHeader {
  background-image: url("images/glatfelter.jpg");
  min-height: 500; 
  height: fit-content;
  width: 100%;
  background-size: cover;
  text-align: center;
}

.homeHeader{ animation: changeBg 15s infinite;}
@keyframes changeBg{
   0%,100%  {background-image: url("images/glatfelter.jpg");}
   33% {background-image: url("images/Neller2.jpg");}
   66% {background-image: url("images/Neller1.jpg");}
}
/*  */

.homeTitle {
  margin: 0 auto;
  display: flex;
  min-width: 107px;
}
.homeTitle h1 {
  position: absolute;
  top: 120;
  padding: 0;
  font-size: 55px; 
  width: 80%;
  background-color: rgba(51, 76, 133, 0.8);
}

/* Meet the officer cards */
.officers {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 10px 0vw 10px 5vw;
}

.officer img {
  position: relative;
  width: 200px;
  height: auto;
  padding-bottom: 0;
}

.officer {
  padding-bottom: 20px;
  width: 370px;
}

.officer p {
  padding-left: 6px;
  width: 350px;
}